<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/style.css">
</head>
<body>
    <div class="wrapper">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p class="flash">{{message}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <div id="main">
            <form action="/submit" method="POST">
                <ul>
                    <li>
                        <p class="inline">Your Name:</p>
                        <input class="inline whitebox" type="text" name="name">
                    </li>
                    <li>
                        <p class="inline">Dojo Location:</p>
                        <select class="inline whitebox" name="location">
                            <option value="San jose">San Jose</option>
                            <option value="Washington DC">Washington DC</option>
                            <option value="Dallas">Dallas</option>
                            <option value="Chicago">Chicago</option>
                        </select>
                    </li>
                    <li>
                        <p class="inline" >Favorite Language:</p>
                        <select class="inline whitebox" name="language">
                            <option value="Python">Python</option>
                            <option value="JavaScript">Javascript</option>
                            <option value="Java">Java</option>
                            <option value="C#">C#</option>
                        </select>
                    </li>
                    <li>
                        <p>Comment (optional):</p>
                    </li>
                </ul>
                <textarea name="comment"></textarea>
                <button type="submit" value="submit">Submit</button>
            </form>
        </div>
    </div>
    
</body>
</html>